* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* HEADER START */

header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #37c8e2;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header h1 .seo {
    color: #d9dcd6;
} */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* HEADER END */

/* HERO START */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/cody_liz.jpg");
    background-size: cover;
    background-position: center;
}

/* HERO END */

/* ABOUT ME START */

article p {
    line-height: 1.7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }


  .section-title {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

  /* ABOUT ME END */